<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styleLayout.css">
    <script src="https://kit.fontawesome.com/638660fde0.js" crossorigin="anonymous"></script>
</head>

<body class="caja-roja">
    <header class="caja-morada">
        <h1>Zafary</h1>
    </header>

    <aside class="caja-celeste">
        <article class="caja-verde">

            <img class="logos" src="../Layout/assets/homeIcon.png" alt="">
            <div id="btn-home">Home</div>
            <div class="separaciones"></div> 

            <img class="logos" src="../Layout/assets/whatzappIcon.png" alt="">
            <div id="btn-whatzapp">Whatzapp</div>
            <div class="separaciones"></div> 

            <img class="logos" src="../Layout/assets/zpotifyIcon.jpg" alt="">
            <div id="btn-zpotify">Zpotify</div>
            <div class="separaciones"></div> 

        </article>

        <article class="caja-azul">
            <div class="caja-naranja">
                <h3>Zafari <br>
                    la mejor forma de ver <br>
                    los sitios web</h3>
            </div>
            <div class="caja-rosada">
                <iframe id="cont-dinamic" src="" frameborder="0"></iframe>
            </div>

        </article>
    </aside>

    <script src="../Layout/indexLayout.js"></script>

</body>

</html>